//index circle styles 


//small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
    .circleContainerSm {
        display: block;
    }

    .circleContainerM {
        display: none;
    }

    .circleContainerL {
        display: none;
    }

    #circleI1 {
        position: absolute;
        bottom: 250px;
        left: 20px;
        z-index: 9;

    }

    #circleI2 {
        position: absolute;
        bottom: 80px;
        left: 50px;
        z-index: 9;
    }

    #circleI3 {
        position: absolute;
        bottom: 500px;
        left: 10px;
        z-index: 9;
    }

    #circleI4 {
        position: absolute;
        bottom: 270px;
        left: 220px;
        z-index: 9;
    }

    #circleI5 {
        position: absolute;
        bottom: 295px;
        left: 235px;
        z-index: 9;
    }

    #circleI6 {
        position: absolute;
        bottom: 320px;
        left: 250px;
        z-index: 9;
    }
    
    #circleI7 {
        position: absolute;
        bottom: 630px;
        left: 285px;
        z-index: 9;
    }

    #circleI8 {
        position: absolute;
        top: 550px;
        right: -25px;
        z-index: 9;
    }

    #circleI9 {
        position: absolute;
        top: 480px;
        right: -25px;
        z-index: 9;
    }

    #circleI10 {
        position: absolute;
        top: 410px;
        right: -25px;
        z-index: 9;
    }


}

@media screen and (max-height: 700px) and (max-width: 600px) {
    .circleContainerSm{
    position: absolute;
    top: 850px; 
    }
  
  }

//medium devices (tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {
    .circleContainerSm {
        display: none;
    }

    .circleContainerM {
        display: block;
    }

    .circleContainerL {
        display: none;
    }
}

//extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
    .circleContainerSm {
        display: none;
    }

    .circleContainerM {
        display: none;
    }

    .circleContainerL {
        display: block;
    }

    #circle1 {
        position: absolute;
        bottom: 50px;
        left: 50px;
    }
    
}


