//work triangle styles 

//small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
    // .triangleContainerSmW {
    //     display: flex;
    //   }

      #triangleW1 {
        position: absolute;
        top: -105px;
        left: -50px;
        transform: rotate(35deg);
        z-index: 10;
      }

    #triangleW2 {
        position: absolute;
        top: -125px;
        left: -50px;
        transform: rotate(-55deg);
        z-index: 11;
      }

      #triangleW3 {
        position: absolute;
        top: 758px;
        right: 10px;
        transform: rotate(125deg);
        z-index: 10;
      }

      #triangleW4 {
        position: absolute;
        top: 780px;
        right: 10px;
        transform: rotate(90deg);
        z-index: 11;
      }

      #triangleW5 {
        position: absolute;
        top: 780px;
        right: -40px;
        transform: rotate(55deg);
        z-index: 9;
      }

}