// index triangle styles 



//small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
  .triangleContainerSm {
    display: block;
  }

  .triangleContainerM {
    display: none;
  }

  .triangleContainerL {
    display: none;
  }

  #triangle1 {
    position: absolute;
    bottom: -40px;
    left: 0px;
    transform: rotate(-145deg);
    z-index: 10;
  }

  #triangle2 {
    position: absolute;
    bottom: -140px;
    left: 0px;
    transform: rotate(-120deg);
    z-index: 9;
  }

  #triangle3 {
    position: absolute;
    bottom: 80px;
    left: -130px;
    transform: rotate(-140deg);
    z-index: 8;
  }

  #triangle4 {
    position: absolute;
    bottom: 270px;
    left: -70px;
    transform: rotate(-125deg);
    z-index: 7;
  }

  #triangle5 {
    position: absolute;
    bottom: -10px;
    left: 75px;
    transform: rotate(-145deg);
    z-index: 6;
  }

  #triangle6 {
    position: absolute;
    bottom: 120px;
    left: 40px;
    transform: rotate(-135deg);
    z-index: 5;
  }

  #triangle7 {
    position: absolute;
    bottom: 450px;
    left: 0px;
    transform: rotate(-155deg);
    z-index: 4;
  }

  #triangle8 {
    position: absolute;
    bottom: 250px;
    left: 90px;
    transform: rotate(-145deg);
    z-index: 3;
  }
}

//medium devices (tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {
  .triangleContainerSm {
    display: none;
  }

  .triangleContainerM {
    display: block;
  }

  .triangleContainerL {
    display: none;
  }
}

//extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
  .triangleContainerSm {
    display: none;
  }

  .triangleContainerM {
    display: none;
  }

  .triangleContainerL {
    display: block;
  }
}