.work-main {

  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;


  @media screen and (max-width: 600px) {

    .card-view {
      position: relative;
      height: auto; 
      min-height: 100vh; 
      overflow-y: auto; /* Enable scrolling if content exceeds the viewport height */
    }

  }
}