@font-face {
font-family: 'Versailles';
src: url('../fonts/Versailles.ttf') format('truetype');
}

@font-face {
font-family: 'TanBuster';
src: url('../fonts/Tan-Buster.otf') format('opentype');
}

@font-face {
font-family: 'Fabrica';
src: url('../fonts/Fabrica.ttf') format('truetype');
}

@font-face {
font-family: 'Inter-Regular';
src: url('../fonts/Inter-Regular.ttf') format('truetype');
}

//variables
$first-index-font: 'Versailles', sans-serif;
$second-index-font: 'TanBuster', sans-serif;
$headers-font: 'Fabrica', sans-serif;
$p-text-font: 'Inter-Regular', sans-serif;
   
:export {
    firstIndexFont: $first-index-font;
    secondIndexFont: $second-index-font;
    headersFont: $headers-font;
    pTextFont: $p-text-font;
  }