.index-main {
  height: 100vh;
  background-color: #E1E1E1;
  overflow: hidden;
  position: relative;
  z-index: 1;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .index-main .hi {
    font-size: 3rem;
    transform: rotate(-90deg);
    position: absolute;
    top: 90px;
    left: -50px;
    z-index: 10;
  }
  .index-main .name {
    font-size: 2.5rem;
    position: absolute;
    top: 25px;
    left: 80px;
  }
  .index-main .lgA {
    font-size: 3rem;
    position: absolute;
    bottom: 25px;
    left: 170px;
    z-index: 10;
  }
  .index-main .web {
    font-size: 4.5rem;
    position: absolute;
    bottom: 10px;
    left: 200px;
    z-index: 10;
  }
  .index-main .dev {
    font-size: 4.5rem;
    position: absolute;
    bottom: 180px;
    left: 290px;
    transform: rotate(-90deg);
    z-index: 10;
  }
  .index-main #rect1 {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    width: 80px;
    height: 700px;
    z-index: -1;
    border-right: 1px solid black;
  }
  .index-main #rect2 {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    width: 300px;
    height: 80px;
    z-index: -1;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  .index-main #rect3 {
    position: absolute;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    top: 60px;
    left: -21px;
  }
  .index-main #rect4 {
    position: absolute;
    background-color: #ffffff;
    width: 300px;
    height: 65px;
    bottom: -5px;
    right: -5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
  }
  .index-main #rect5 {
    position: absolute;
    background-color: #ffffff;
    width: 100px;
    height: 350px;
    bottom: -5px;
    right: -20px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    z-index: -1;
  }
  .index-main #rect6 {
    position: absolute;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    bottom: -40px;
    right: -21px;
  }
}
@media screen and (max-height: 700px) and (max-width: 600px) {
  .index-main .lgA {
    position: absolute;
    bottom: 30px;
    left: 135px;
  }
  .index-main .web {
    font-size: 4rem;
    position: absolute;
    bottom: 20px;
    left: 180px;
  }
  .index-main .dev {
    font-size: 4rem;
    position: absolute;
    bottom: 170px;
    left: 270px;
  }
}