@media only screen and (max-width: 600px) {
  .triangleContainerSmW {
    display: flex;
  }
  #triangleW1 {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(5deg);
    z-index: 10;
  }
}