@import 'baseStyles/reset';
@import 'baseStyles/typography';
@import '../styles/componentStyles/navigation.scss';
@import '../styles/componentStyles/footer.scss';



.firstIndexFont {
    font-family: $first-index-font;
    font-size: 20px;
    color: #000;
}

.secondIndexFont {
    font-family: $second-index-font;
    font-size: 20px;
    color: #000;
}

.headersFont {
    font-family: $headers-font;
    font-size: 20px;
    color: #000;
}

.pTextFont {
    font-family: $p-text-font;
    font-size: 20px;
    color: #000;
}
