/* Base Styles */
@import 'baseStyles/reset';
@import 'baseStyles/typography';

/* Component Styles */
@import '../styles/componentStyles/navigation.scss';
@import '../styles/componentStyles/footer.scss';
@import '../styles/componentStyles/contactForm.scss';


.firstIndexFont {
    font-family: $first-index-font;
    color: #000;
}

.secondIndexFont {
    font-family: $second-index-font;
    color: #000;
}

.headersFont {
    font-family: $headers-font;
    color: #000;
}

.pTextFont {
    font-family: $p-text-font;
    color: #000;
}
