*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Versailles";
  src: url("../fonts/Versailles.ttf") format("truetype");
}
@font-face {
  font-family: "TanBuster";
  src: url("../fonts/Tan-Buster.otf") format("opentype");
}
@font-face {
  font-family: "Fabrica";
  src: url("../fonts/Fabrica.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}
.firstIndexFont {
  font-family: "Versailles", sans-serif;
  color: #000000;
}

.secondIndexFont {
  font-family: "TanBuster", sans-serif;
  color: #000000;
}

.headersFont {
  font-family: "Fabrica", sans-serif;
  color: #000000;
}

.pTextFont {
  font-family: "Inter-Regular", sans-serif;
  color: #000000;
}

.container {
  padding-left: calc(var(--bs-gutter-x) * 1.5);
  padding-right: calc(var(--bs-gutter-x) * 1.5);
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 1000;
  overflow: hidden;
  pointer-events: none;
}
.navigation .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
.navigation .menu-toggle {
  pointer-events: all;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}
.navigation .menu-item {
  position: relative;
  padding-left: 15px;
}
.navigation .menu {
  position: absolute;
  display: none;
  background-color: #333333;
  display: none;
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  margin: 0;
  z-index: 999;
  pointer-events: all;
}
.navigation .menu ul {
  list-style: none;
  padding: 0;
}
.navigation .menu ul li {
  margin-top: 2rem;
}
.navigation .menu ul li a {
  color: #1e130c;
  text-decoration: none;
  font-size: 2.1rem;
  font-family: "TanBuster", sans-serif;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}
.navigation .menu ul li a#indexLink:hover {
  color: #9C333E;
}
.navigation .menu ul li a#workLink:hover {
  color: #00ABC9;
}
.navigation .menu ul li a#skillsLink:hover {
  color: #FFC736;
}
.navigation .menu ul li a#aboutLink:hover {
  color: #9C333E;
}
.navigation .menu ul li a#contactLink:hover {
  color: #00ABC9;
}
.navigation.open .menu {
  display: block;
}

.circle {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #000000;
}

#circleOne {
  background-color: #9C333E;
}

#circleTwo {
  background-color: #00ABC9;
}

#circleThree {
  background-color: #FFC736;
}

#circleFour {
  background-color: #9C333E;
}

#circleFive {
  background-color: #00ABC9;
}

.box {
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #B74855;
  border: 1px solid #000000;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.button {
  width: 30px;
  height: 50px;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

div.box.active {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

div.box.not-active .button {
  position: absolute;
  top: 28px;
  left: 28px;
}

div.box.not-active span {
  display: block;
  width: 80%;
  height: 5px;
  margin-top: 7px;
}

span {
  display: block;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  height: 8px;
  background: #fff;
  transition: all 0.3s;
  position: relative;
}

span + span {
  margin-top: 14px;
}

.active span:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}
@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 450px) {
  .navigation .menu {
    width: 70vw;
  }
  .navigation .menu ul li {
    margin-top: 2rem;
  }
  .navigation .menu ul li a {
    font-size: 2.2rem;
  }
  .navigation .overlay {
    width: 30vw;
  }
}
@media (max-width: 400px) {
  .not-active {
    position: absolute;
    left: 50px;
  }
}
.triangleContainer {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-main .footerBase {
  overflow: auto;
  height: 100px;
  padding-top: 120px;
  padding-bottom: 140px;
  background-color: #E1E1E1;
  margin: 0;
}
.footer-main .foot {
  background-color: #B74855;
  width: 100%;
  margin: 0 auto;
  transform: skewY(7deg);
  height: 400px;
}
.footer-main .unskew {
  transform: skewY(-7deg);
}
.footer-main .linkedIcon, .footer-main .githubIcon {
  width: 60px;
}
.footer-main .linkedIcon {
  border-radius: 15%;
  border: 1.5px solid #000000;
}
.footer-main .githubIcon {
  border-radius: 50%;
  border: 1.5px solid #000000;
}
.footer-main .signOff {
  background-color: #FFC736;
  padding: 10px;
  height: 60px;
  border-radius: 10px;
  border: 1.5px solid #000000;
}
.footer-main #signOffName {
  padding-top: 5px;
}
@media screen and (max-width: 600px) {
  .footer-main .footerBase {
    overflow: hidden;
    height: 250px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0;
    background-color: #E1E1E1;
  }
  .footer-main .foot {
    background-color: #B74855;
    width: 100%;
    margin: 0 auto;
    transform: skewY(7deg);
    height: 450px;
    padding-bottom: 100px;
    border-top: 1px solid #000000;
  }
  .footer-main .unskew {
    transform: skewY(-7deg);
  }
  .footer-main .iconsRow {
    margin-bottom: -50px;
  }
  .footer-main .linkedIcon, .footer-main .githubIcon {
    width: 50px;
  }
  .footer-main .signOff {
    background-color: #FFC736;
    padding: 5px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #000000;
  }
  .footer-main #signOffName {
    padding-top: 5px;
  }
}

.contact-main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #E1E1E1;
}
.contact-main .contactform {
  width: 100%;
  padding-bottom: 80px;
  margin-bottom: 100px;
}
.contact-main .formWrapper {
  position: relative;
}
.contact-main .inputBlock {
  width: 100%;
  box-sizing: border-box;
  align-self: center;
  border-radius: 15px;
  height: 3rem;
  font-family: "Inter-Regular", sans-serif;
  border: 2px solid #1e130c;
}
.contact-main input#inputName:focus {
  border-color: #9C333E;
}
.contact-main #inputBlockMessage {
  height: 13rem;
  border-radius: 20px;
  border: 2px solid #1e130c;
}
.contact-main .buttonSubmit {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 15px;
  border: 2px solid #1e130c;
  background-color: #B74855;
}
.contact-main #triangle1 {
  position: absolute;
  bottom: 15px;
  left: 15px;
  transform: rotate(-105deg);
  z-index: 9;
}
.contact-main #triangle2 {
  position: absolute;
  bottom: 9px;
  left: 15px;
  transform: rotate(107deg);
  z-index: 10;
}

@media screen and (max-width: 600px) {
  .portfolioCard {
    background-color: white;
    border: 3px solid;
    border-radius: 20px;
    padding: 15px;
    margin-top: 8rem;
  }
  .portfolioCard #workTitle {
    margin-top: 1rem;
    font-family: "TanBuster", sans-serif;
    font-size: 1.5rem;
  }
  .portfolioCard .cardImage {
    border: 3px solid;
    border-radius: 7px;
  }
  .portfolioCard .cardImage img {
    width: 100%;
    height: 180px;
    -o-object-fit: contain;
       object-fit: contain;
    background-color: #E1E1E1;
  }
  .portfolioCard .headers {
    font-family: "TanBuster", sans-serif;
    font-size: 1rem;
  }
  .portfolioCard .para {
    font-size: 0.9rem;
    font-family: "Inter-Regular", sans-serif;
  }
  .portfolioCard ul {
    font-size: 1.2rem;
    font-family: "Inter-Regular", sans-serif;
    padding-left: 20px;
  }
  .portfolioCard li {
    padding-left: 0px;
    list-style-type: circle;
  }
}

#triangle1 {
  position: absolute;
  bottom: 100px;
  left: -10px;
  transform: rotate(-135deg);
}

@media screen and (max-width: 600px) {
  .aboutMeCard {
    background-color: #ffffff;
    border: 3px solid #00ABC9;
    border-radius: 20px;
    padding: 15px;
  }
  .aboutMeCard #aboutTitle {
    margin-top: 1rem;
    font-family: "TanBuster", sans-serif;
    font-size: 1.5rem;
  }
  .aboutMeCard .para {
    font-size: 0.9rem;
    font-family: "Inter-Regular", sans-serif;
  }
  .aboutMeCard p {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .circleContainerSm {
    display: block;
  }
  .circleContainerM {
    display: none;
  }
  .circleContainerL {
    display: none;
  }
  #circle1 {
    position: absolute;
    bottom: 250px;
    left: 20px;
    z-index: 9;
  }
  #circle2 {
    position: absolute;
    bottom: 80px;
    left: 50px;
    z-index: 9;
  }
  #circle3 {
    position: absolute;
    bottom: 500px;
    left: 10px;
    z-index: 9;
  }
  #circle4 {
    position: absolute;
    bottom: 270px;
    left: 220px;
    z-index: 9;
  }
  #circle5 {
    position: absolute;
    bottom: 295px;
    left: 235px;
    z-index: 9;
  }
  #circle6 {
    position: absolute;
    bottom: 320px;
    left: 250px;
    z-index: 9;
  }
  #circle7 {
    position: absolute;
    bottom: 630px;
    left: 285px;
    z-index: 9;
  }
  #circle8 {
    position: absolute;
    top: 550px;
    right: -25px;
    z-index: 9;
  }
  #circle9 {
    position: absolute;
    top: 480px;
    right: -25px;
    z-index: 9;
  }
  #circle10 {
    position: absolute;
    top: 410px;
    right: -25px;
    z-index: 9;
  }
}
@media screen and (max-height: 700px) and (max-width: 600px) {
  .circleContainerSm {
    position: absolute;
    top: 850px;
  }
}
@media only screen and (min-width: 600px) {
  .circleContainerSm {
    display: none;
  }
  .circleContainerM {
    display: block;
  }
  .circleContainerL {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .circleContainerSm {
    display: none;
  }
  .circleContainerM {
    display: none;
  }
  .circleContainerL {
    display: block;
  }
  #circle1 {
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
}
.contact-main .formDiv {
  width: 100%;
}
.contact-main .sayHi {
  font-size: 4.5rem;
}
@media screen and (max-width: 600px) {
  .contact-main .sayHi {
    margin-top: 30%;
    font-family: "TanBuster", sans-serif;
    font-size: 4rem;
  }
}

.index-main {
  height: 100vh;
  background-color: #E1E1E1;
  overflow: hidden;
  position: relative;
  z-index: 1;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .index-main .hi {
    font-size: 3rem;
    transform: rotate(-90deg);
    position: absolute;
    top: 90px;
    left: -50px;
    z-index: 10;
  }
  .index-main .name {
    font-size: 2.5rem;
    position: absolute;
    top: 25px;
    left: 80px;
  }
  .index-main .lgA {
    font-size: 3rem;
    position: absolute;
    bottom: 25px;
    left: 170px;
    z-index: 10;
  }
  .index-main .web {
    font-size: 4.5rem;
    position: absolute;
    bottom: 10px;
    left: 200px;
    z-index: 10;
  }
  .index-main .dev {
    font-size: 4.5rem;
    position: absolute;
    bottom: 180px;
    left: 290px;
    transform: rotate(-90deg);
    z-index: 10;
  }
  .index-main #rect1 {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    width: 80px;
    height: 700px;
    z-index: -1;
    border-right: 1px solid black;
  }
  .index-main #rect2 {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    width: 300px;
    height: 80px;
    z-index: -1;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  .index-main #rect3 {
    position: absolute;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    top: 60px;
    left: -21px;
  }
  .index-main #rect4 {
    position: absolute;
    background-color: #ffffff;
    width: 300px;
    height: 65px;
    bottom: -5px;
    right: -5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
  }
  .index-main #rect5 {
    position: absolute;
    background-color: #ffffff;
    width: 100px;
    height: 350px;
    bottom: -5px;
    right: -20px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    z-index: -1;
  }
  .index-main #rect6 {
    position: absolute;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    bottom: -40px;
    right: -21px;
  }
}
@media screen and (max-height: 700px) and (max-width: 600px) {
  .index-main .lgA {
    position: absolute;
    bottom: 30px;
    left: 135px;
  }
  .index-main .web {
    font-size: 4rem;
    position: absolute;
    bottom: 20px;
    left: 180px;
  }
  .index-main .dev {
    font-size: 4rem;
    position: absolute;
    bottom: 170px;
    left: 270px;
  }
}

@media only screen and (max-width: 600px) {
  .triangleContainerSmW {
    display: flex;
  }
  #triangle1 {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(5deg);
    z-index: 10;
  }
}
@media only screen and (max-width: 600px) {
  .triangleContainerSm {
    display: flex;
  }
  .triangleContainerM {
    display: none;
  }
  .triangleContainerL {
    display: none;
  }
  #triangle1 {
    position: absolute;
    bottom: -40px;
    left: 0px;
    transform: rotate(-145deg);
    z-index: 10;
  }
  #triangle2 {
    position: absolute;
    bottom: -135px;
    left: 0px;
    transform: rotate(-120deg);
    z-index: 9;
  }
  #triangle3 {
    position: absolute;
    bottom: 80px;
    left: -130px;
    transform: rotate(-140deg);
    z-index: 8;
  }
  #triangle4 {
    position: absolute;
    bottom: 270px;
    left: -70px;
    transform: rotate(-125deg);
    z-index: 7;
  }
  #triangle5 {
    position: absolute;
    bottom: -10px;
    left: 75px;
    transform: rotate(-145deg);
    z-index: 6;
  }
  #triangle6 {
    position: absolute;
    bottom: 120px;
    left: 40px;
    transform: rotate(-135deg);
    z-index: 5;
  }
  #triangle7 {
    position: absolute;
    bottom: 450px;
    left: 10px;
    transform: rotate(-145deg);
    z-index: 4;
  }
  #triangle8 {
    position: absolute;
    bottom: 250px;
    left: 90px;
    transform: rotate(-145deg);
    z-index: 3;
  }
}
@media screen and (max-height: 700px) and (max-width: 600px) {
  .triangleContainerSm {
    position: absolute;
    top: 850px;
  }
}
@media only screen and (min-width: 600px) {
  .triangleContainerSm {
    display: none;
  }
  .triangleContainerM {
    display: block;
  }
  .triangleContainerL {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .triangleContainerSm {
    display: none;
  }
  .triangleContainerM {
    display: none;
  }
  .triangleContainerL {
    display: block;
  }
}
.work-main {
  background-color: #E1E1E1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .about-main {
    background-color: #E1E1E1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }
}