.contactform {
  background-color: aquamarine;
  width: 80%;
  padding-bottom: 80px;
  margin-bottom: 20px;

}

.formWrapper {
    position: relative;
}

.inputBlock {
  width: 100%;
  box-sizing: border-box;
  align-self: center;
}

.buttonSubmit {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}
