

.contactform {
    background-color: aquamarine;
    width: 80%; 
    margin-bottom: 100px;
}

.inputBlock {
    width: 100%;
    box-sizing: border-box; 
    align-self:center;
}

.buttonSubmit {
    margin: 40%;
}

