//navigation

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 1000;
  overflow: hidden;
  pointer-events: none;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -10;
  }

  .menu-toggle {
    pointer-events: all;
    position: absolute; 
    top: 30px; 
    right: 50px; 
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;


  }

  .menu-item {
    position: relative;
    padding-left: 15px; 
}
   
   .circle {
    position: absolute;
    left: -40px; 
    top: 50%;
    transform: translateY(-50%);
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    background-color: red; 
    border: 3px solid black;

   }
   

  .menu {
    position: relative;
    background-color: #333;
    display: none;
    width: 50vw; 
    height: 100vh; 
    z-index: -10;
    position: absolute; 
    top: 0; 
    right: 0; 
    padding: 20px; 
    margin: 0;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-top: 2rem;
  

        a {
          color: #fff;
          text-decoration: none;
          font-size: 2rem;
          font-family: $headers-font;

        }
      }
    }
  }

  &.open {
    .menu {
      display: block;
    }

  }
}





.box {
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3faf82;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
 }
 
 .button {
  width: 30px;
  height: 50px;
  position: absolute;
  right: 0;

  transform: translateY(-50%);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  
 }

 div.box.active {
  width: 50px;
  height: 50px;
  border-radius: 50%;
 }

 div.box.not-active .button {
  position: absolute;
  top: 28px;
  left: 28px;
 }

 div.box.not-active span {
  display: block;
  width:80%;
  height: 5px;
  margin-top: 7px;
 }

 span {
  display: block;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
  border-radius: 3px;
  height: 8px;
  background: #fff;
  transition: all .3s;
  position: relative;
 }

 
 span + span {
  margin-top: 14px;
 }
 
 //animations 
 .active span:nth-child(1) {
  animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease .7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 22px;
    transform: rotate(0);
  }
  100% {
    top: 22px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 22px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}


 




//media query 
@media (max-width: 500px) {
  .navigation {
     .menu {
       width: 70vw;
 
       ul {
         li {
              margin-top: 2rem;
           a {
             font-size: 2.2rem;
           }
         }
       }
     }

     .overlay {
       width: 30vw;
     }
  }
 }
 
 
.triangleContainer {
  position: absolute;
  bottom: 0;
  left: 0;
}