.portfolioCard {

@media screen and (max-width: 600px) {

    background-color: white;
    border: 3px solid;
    border-radius: 20px;
    padding: 15px;
    margin-top: 7rem;
  

  #workTitle {
    margin-top: 1rem;
    font-family: $second-index-font;
    font-size: 1.5rem;
  }

  .cardImage {
    border: 3px solid;
    border-radius: 7px;
  }

  .cardImage img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    background-color: $light-grey;
  }

  .headers {
    font-family: $second-index-font;
    font-size: 1rem;
  }

  .para {
    font-size: 0.9rem;
    font-family: $p-text-font;
  }

  ul {
    font-size: 1.2rem;
    font-family: $p-text-font;
    padding-left: 20px;
  }

  li {
    padding-left: 0px;
    list-style-type: circle;
  }
}
}
